{% extends 'base.html.twig' %}

{% block title %}Hello FileController!
{% endblock %}

{% block body %}
    {% for setting in setting_files %}
        <div class="wrapper container">
            <div class="button_table">
                <button class="process_files    {{setting.parentFile}}">
                    Process all
                </button>
                <button class="archived_files    {{setting.parentFile}}">
                    Archived all
                </button>
            </div>

            <table class="table table-striped">
                <thead>
                    <tr>
                        <th scope="col">
                            <strong>{{setting.parentFile}}</strong>
                        </th>
                        <th scope="col">Xml</th>
                        <th scope="col">Csv</th>
                        <th scope="col">Process</th>
                        <th scope="col">Archived</th>
                    </tr>
                </thead>
                <tbody>
                    {% for file in setting.files %}
                        {% if not file.archived %}
                            {% set path = file.path | split('/') | last | split('.') | first %}
                            <tr id="tr_{{path}}">
                                <th scope="row">{{loop.index}}</th>
                                <td>
                                    <a href="{{ asset(file.path) }}">{{ asset(file.path) | split('/') | last }}
                                    </a>
                                </td>
                                <td id="{{path}}">
                                    {% if  file.converted %}
                                        <a href="{{ asset(file.path) ~ '.xml' }}">{{ asset(file.path) | split('/') | last ~ '.xml'}}
                                        </a>
                                    </td>
                                {% else %}
                                    -
                                {% endif %}
                                <td>
                                    {% if not file.converted %}
                                        <button class="process_file parent_{{setting.parentFile}}" value="{{file.path}}" id_td="{{ asset(file.path) | split('/') | last | split('.') | first}}">Process</button>
                                    {% endif %}
                                </td>
                                <td>
                                    <button class="archived_file parent_{{setting.parentFile}}" value="{{file.path}}" id_td="{{ asset(file.path) | split('/') | last | split('.') | first}}">Archived</button>
                                </td>
                            </tr>
                        {% endif %}
                    {% endfor %}
                </tbody>
            </table>
            <hr>
        </div>
    {% endfor %}
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('js/process_ajax.js') }}" > </script>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>


{% endblock %}